<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="ccffff">
    <table border="4" width="50%" align="center">
        <tr>
            <th>student-id</th>
            <th>student-f_name</th>
            <th>student-l_name</th>
            <th>subject-id</th>
            <th>subject-name</th>
            <th>grade</th>
            <th>teacher-f_name</th>
            <th>teacher-l_name</th>
        </tr>
        {% for r in test %}
        <tr>
          <td>{{ r.student_id }}</td>
          <td>{{ r.f_name }}</td>
          <td>{{ r.l_name }}</td>
          <td>{{ r.sub_id }}</td>
          <td>{{ r.subject_name }}</td>
          <td>{{ r.grade }}</td>
          <td>{{ r.tf_name }}</td>
          <td>{{ row.tl_name }}</td>
        </tr>
      {% endfor %}
      </table>
</body>
</html>